:root {
    --dark-blue: #0D1D34;
    --blue: #182D4D;
    --yellow: #FAC60A;
    --green: #7DC72E;
    --red: #DF2642;
    --light-blue: #6D839E;
    --mobile-app-hover-blue: #364C6B;
    --blue-300: #9EA8B5;
    --orange: #FA860A;
    --banners-blue: #021229;
}

* {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 1200px) {
    .container {
        width: 1240px;
        max-width: calc(100vw - 30px);
    }
}
/* helpers */
.margin-right-10 {
    margin-right: 10px;
}

.max-width-100 {
    max-width: 100%;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.margin-bottom-12 {
    margin-bottom: 12px;
}

.font-size-20 {
    font-size: 20px;
}

h1, h2, h3, p {
    margin: 0;
}
/* helpers end */

/* Button with white hover border */

.button-border-hover span {
    padding: 0 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 34px;
    border-radius: 100px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 600;
}

.button-border-hover:hover {
    text-decoration: none;
}

.button-border-hover {
    border-radius: 100px;
}

.button-border-hover:hover span {
    border-color: #fff;
}

.button-border-hover--green {
    border: 1px solid var(--green);
}

.button-border-hover--green span {
    background: var(--green);
    border: 3px solid var(--green);
}

.button-border-hover--red {
    border: 1px solid var(--red);
}

.button-border-hover--red span{
    background: var(--red);
    border: 3px solid var(--red);
}

.button-border-hover--orange {
    border: 1px solid var(--orange);
}

.button-border-hover--orange span{
    background: var(--orange);
    border: 3px solid var(--orange);
}

/* Button with white hover border end */

/* app button */
.app-button {
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 36px;
    border-radius: 8px;
    color: #fff;
    background: var(--blue);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.app-button svg {
    margin-right: 12px;
}

.app-button:hover {
    text-decoration: none;
    color: #fff;
    background: var(--mobile-app-hover-blue);
}

/* Header Styles start */
.header {
    background: var(--dark-blue);
    padding: 15px 0;
}

.logo {
    margin-right: 60px;
}

.logo img {
    height: 80px;
}

.menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.header-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 36px;
    padding: 0 4px;
    border-radius: 18px;
    border: 2px solid #000;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header-button-text {
    margin: 0 8px;
    font-weight: 600;
}

.promotions-button {
    background: var(--blue);
    border-color: var(--blue);
    margin-right: 24px;
    color: #fff;
}

.promotions-button:hover {
    background: var(--mobile-app-hover-blue);
    color: #fff;
    text-decoration: none;
}

.header-button-img {
    height: 100%;
    -webkit-transform: scale(1.55);
        -ms-transform: scale(1.55);
            transform: scale(1.55);
}

.free-money-button {
    background: -webkit-gradient(linear, left top, right top, from(#FAC60A), to(#FAC60A));
    background: -o-linear-gradient(left, #FAC60A 0%, #FAC60A 100%);
    background: linear-gradient(90deg, #FAC60A 0%, #FAC60A 100%);
    border-color: var(--yellow);
    color: var(--blue);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.free-money-button:hover {
    background: -webkit-gradient(linear, left top, right top, from(#FAC60A), to(#E37E20));
    background: -o-linear-gradient(left, #FAC60A 0%, #E37E20 100%);
    background: linear-gradient(90deg, #FAC60A 0%, #E37E20 100%);
    color: var(--blue);
    text-decoration: none;
}

.free-money-button svg path{
    stroke: var(--blue);
}

.free-money-button .header-button-img {
    position: relative;
    top: 4px;
    -webkit-transform: scale(1.95);
        -ms-transform: scale(1.95);
            transform: scale(1.95);
}

.menu-bottom-row {
    margin-top: 10px;
}

.navigation-list {
    padding-left: 0;
    margin-bottom: 0;
}

.navigation-list li a,
.second-footer-top a.second-footer-link {
    color: #fff;
    margin-right: 35px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navigation-list li a span,
.second-footer-top a.second-footer-link span {
    margin-left: 3px;
}

.navigation-list li a:hover,
.second-footer-top a.second-footer-link:hover {
    text-decoration: none;
    color: var(--light-blue);
}

.navigation-list li a svg path.lines,
.second-footer-top a.second-footer-link svg path.lines {
    fill: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.navigation-list li a:hover svg path.lines,
.second-footer-top a.second-footer-link:hover svg path.lines {
    fill: var(--light-blue);
}

.bottom-menu-button {
    position: relative;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 36px;
    border-radius: 8px;
    color: #fff;
    background: var(--blue);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-left: 30px;
}

.bottom-menu-button:before {
    content: '...';
    position: absolute;
    left: 0;
    padding-right: 10px;
    -webkit-transform: translateX(-100%) translateY(-4px);
        -ms-transform: translateX(-100%) translateY(-4px);
            transform: translateX(-100%) translateY(-4px);
}

.bottom-menu-button svg {
    margin-right: 12px;
}

.bottom-menu-button:hover {
    text-decoration: none;
    color: #fff;
    background: var(--mobile-app-hover-blue);
}

.bottom-menu-button-wrap {
    position: relative;
}

.hidden-menu {
    position: absolute;
    padding: 20px;
    background: var(--dark-blue);
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    z-index: 2;
    border-radius: 5px;
}

.hidden-menu ul {
    margin: 0;
    padding: 0;
}

.hidden-menu ul li {
    margin-bottom: 12px;
}

.hidden-menu ul li:last-child {
    margin-bottom: 0;
}

.hidden-menu ul a {
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hidden-menu ul a svg path.lines{
    fill: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.hidden-menu ul a:hover {
    color: var(--light-blue);
    text-decoration: none;
}

.hidden-menu ul a:hover svg path.lines{
    fill: var(--light-blue);
}

.bottom-menu-button-margin-right {
    margin-right: 20px;
}


.lang-switch-wrap {
    position: relative;
}

.lang-switch-wrap img {
    width: 25px;
    height: 25px;
}

.lang-switch {
    cursor: pointer;
    padding: 0 8px;
    height: 36px;
    background: var(--blue);
    border-radius: 18px;
}

.lang-switch .chevron {
    margin-left: 11px;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.lang-switch-wrap.open .lang-switch .chevron {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.lang-switch-list-wrap {
    display: none;
    position: absolute;
    top: calc(100% + 12px);
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
}

.lang-switch-wrap.open .lang-switch-list-wrap {
    display: block;
}

.lang-switch-list {
    position: relative;
    margin: 0;
    padding: 0;
    background: #fff;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03);
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.03);
    list-style: none;
    border-radius: 8px;
}

.lang-switch-list::before {
    position: absolute;
    left: 50%;
    top: -5px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    content: '';
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 5px solid #fff;
}

.lang-switch-list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px;
    color: var(--dark-blue);
    font-weight: 600;
    cursor: pointer;
}

.lang-switch-list li a:hover {
    text-decoration: none;
}

.lang-switch-list li a svg {
    margin-right: 12px;
}



/* Header Styles end */

/* Banner Styles start */

.banner {
    background: var(--banners-blue);
}

.banner .carousel-item-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}

.banner .carousel-item .slider-img {
    min-height: 530px;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.banner .carousel-indicators {
    position: static;
    margin-bottom: 0;
}

.banner .carousel-navigation {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 15;
}

.banner .carousel-indicators .indicator {
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.banner .carousel-navigation a {
    display: block;
    position: static;
    min-width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 12px;
    background: rgba(242, 243, 246, 0.2);
    opacity: 1;
}

.banner .carousel-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.welcome-bonus-block .rating-text {
    margin-left: 10px;
    color: var(--blue-300);
    font-size: 18px;
}

.welcome-bonus-block .rating-text-bold {
    font-weight: 600;
    color: #fff;
}

.welcome-bonus-block h3 {
    color: var(--blue-300);
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}

.welcome-bonus-block h1 {
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.welcome-bonus-block h4 {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.welcome-bonus-block h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 22px;
}


.welcome-bonus-block h2 .orange {
    font-weight: 900;
    color: var(--orange);
}

.welcome-bonus-block h2 .green {
    font-weight: 900;
    color: var(--green);
}

.welcome-bonus-block .button-border-hover span{
    width: 175px;
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* Banner Styles end */

/* welcome-bonus section */
.welcome-bonus {
    margin-top: 48px;
}

.welcome-bonus .welcome-bonus-block {
    padding: 70px 0;
    background: var(--banners-blue);
    border-radius: 36px;
    background-image: url(../img/soccer.jpg);
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.welcome-bonus-block-mini {
    padding: 40px 20px;
    background: var(--banners-blue);
    background-image: url(../img/welcome-bonus-mini-bg.png);
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 36px;
}

.welcome-bonus-block-mini h2 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.welcome-bonus-block-mini p {
    color: var(--blue-300);
    font-size: 16px;
    font-weight: 500;
    max-width: 360px;
    margin-bottom: 12px;
}

.welcome-bonus-block-mini .button-border-hover span {
    height: 40px;
    font-size: 16px;
}
/* welcome-bonus end */

/*game-block section*/

.game-block {
    margin-top: 48px;
}

.game-block .game-block--border {
    border: 2px solid #F2F3F6;
    border-radius: 36px;
    padding: 44px;
}

.game-block-mini {
    padding: 16px 16px 24px;
    background: -o-linear-gradient(23.13deg, #1A2A41 3.98%, #193761 100.83%);
    background: linear-gradient(66.87deg, #1A2A41 3.98%, #193761 100.83%);
    border-radius: 24px;
}

.game-block-mini--heading .game-block-mini--heading-h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.game-block-mini .game-block-mini--background-img {
    background: var(--light-blue);
    border-radius: 100%;
    height: 58px;
    width: 58px;
}
.game-block-mini .game-block-mini--background-im .game-block-mini--img {
    width: 34px;
    height: 34px;
}

.game-block-mini .game-block-mini--p {
    font-size: 16px;
    color: var(--blue-300);
}

/*game-block end*/

/*advantages section*/
.advantages {
    margin-top: 48px;
}

.advantages .advantages--border {
    border: 2px solid #F2F3F6;
    padding: 44px;
    border-radius: 36px;
    background-image: url(../img/advantages.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
}

.advantages .advantages--h {
    font-size: 36px;
    color: #060714;
    margin: 44px 0px 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.advantages .advantages--list {
    margin-bottom: 24px;
}

.advantages .advantages--list-items {
    width: 100%;
    border: 1px solid #F2F3F6;
    border-radius: 100px;
    padding: 4px 24px 4px 4px;
    background: -webkit-gradient(linear, left top, right top, from(#F5F8FC), color-stop(76%, #FCFDFF));
    background: -o-linear-gradient(left, #F5F8FC 0%, #FCFDFF 76%);
    background: linear-gradient(90deg, #F5F8FC 0%, #FCFDFF 76%);
    margin-bottom: 10px;
}

.advantages .advantages--list-items:last-child {
    margin-bottom: 0;
}

.advantages .advantages--list-items .advantages-list-items--background-img{
    min-width: 56px;
    height: 56px;
    background: #fff;
    border-radius: 100%;
    margin-right: 10px;
}
.advantages .advantages-list-items---background-img .advantages-list-items--img {
    width: 24px;
    height: 24px;
}

.advantages .advantages--text-h3{
    font-size: 20px;
    color: var(--blue);
    font-weight: 700;
}

.advantages .advantages--text-p{
    font-size: 16px;
    color: var(--blue-300);
}

.advantages .button-border-hover span{
    height: 54px;
}

/* how to sign up */
.how-to-sign-up {
    margin-top: 44px;
}

.how-to-sign-up .how-to-sign-up--background {
    background: var(--banners-blue);
    background-image: url(../img/registration.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 36px;
}

.how-to-sign-up--padding {
    padding: 44px;
}

.how-to-sign-up h2 {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.how-to-sign-up .how-to-sign-up--accordion-card {
    position: relative;
    background: rgba(242, 243, 246, 0.1);
    border-radius: 32px;
    padding-left: 90px;
    margin-bottom: 20px;
}

.how-to-sign-up .how-to-sign-up--accordion-button {
    min-height: 64px;
    overflow: hidden;
    width: 100%;
    padding: 4px 0;
    text-align: left;
    border: none;
    cursor: pointer;
    background: none;
}

.how-to-sign-up .how-to-sign-up--accordion-button:focus {
    outline: none;
}

.how-to-sign-up .how-to-sign-up--accordion-button--step {
    position: absolute;
    left: 4px;
    top: 4px;
    height: 56px;
    width: 83px;
    background-image: url(../img/step_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding-right: 26px;
    text-transform: uppercase;
    padding-top: 4px;
}

.how-to-sign-up .how-to-sign-up--accordion-button--step.ok {
    padding-top: 16px;
}

.how-to-sign-up .how-to-sign-up--accordion-button--text-top {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.how-to-sign-up .how-to-sign-up--accordion-button--text-bottom {
    font-size: 16px;
    font-weight: 500;
    color: var(--blue-300);
}

.how-to-sign-up .how-to-sign-up--accordion-list {
    list-style: none;
    padding-top: 16px;
    margin-bottom: 0;
    padding-left: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 34px;
}

.how-to-sign-up .how-to-sign-up--accordion-list li {
    padding-left: 36px;
    position: relative;
}

.how-to-sign-up .how-to-sign-up--accordion-list li:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.how-to-sign-up .button-border-hover span {
    height: 54px;
}

/* rating block */
.rating {
    margin-top: 44px;
}

.rating .rating--background {
    border-radius: 36px;
    -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.03);
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.03);
    padding: 44px;
    background: #fff;
    background-image: url(../img/rating_bg.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
}

.rating .rating--background h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--dark-blue);
    text-transform: uppercase;
    margin-bottom: 46px;
}

.rating .rating-row {
    border-radius: 100px;
    background: -webkit-gradient(linear, left top, right top, from(#F5F8FC), color-stop(76%, #FCFDFF));
    background: -o-linear-gradient(left, #F5F8FC 0%, #FCFDFF 76%);
    background: linear-gradient(90deg, #F5F8FC 0%, #FCFDFF 76%);
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8px;
    border: 1px solid #F2F3F6;
}

.rating .rating-row:last-child {
    margin-bottom: 0;
}

.rating .rating-row-left {
    border-radius: 100px;
    padding: 4px 16px 4px 16px;
    background: #fff;
    -webkit-box-shadow: 0px 10px 20px 0px #0000001A;
            box-shadow: 0px 10px 20px 0px #0000001A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.rating .rating-row p {
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
}

.rating .rating-row-left img {
    margin-left: 8px;
}

.rating .rating-right-column {
    padding-top: 16px;
}

.rating .rating-right-column img {
    width: 54px;
    margin-bottom: 8px;
}

.rating .rating-right-column h3 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
}

.rating .rating-right-column h4 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.rating .rating-right-column .button-border-hover span {
    height: 54px;
}

/* info block */

.info {
    margin-top: 44px;
}

.info .info-inner {
    border: 2px solid #F2F3F6;
    -webkit-box-shadow: 0px 10px 20px 0px #00000008;
            box-shadow: 0px 10px 20px 0px #00000008;
    border-radius: 36px;
    padding: 44px 36px 36px;
}

.info .info-inner h2 {
    font-size: 36px;
    color: var(--dark-blue);
    font-weight: 700;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.info .info-table {
    border: 2px solid #F2F3F6;
    border-radius: 24px;
    overflow: hidden;
}

.info .info-table-row {
    background: -webkit-gradient(linear, left top, right top, from(#F5F8FC), color-stop(76%, #FCFDFF));
    background: -o-linear-gradient(left, #F5F8FC 0%, #FCFDFF 76%);
    background: linear-gradient(90deg, #F5F8FC 0%, #FCFDFF 76%);
    border-bottom: 1px solid #F2F3F6;
}

.info .info-table-row:last-child {
    border-bottom: none;
}

.info .info-table-row-left {
    width: 45%;
    position: relative;
    padding: 18px 40px;
}

.info .info-table-row-left:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 7px;
    height: 34px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: var(--orange);
}

.info .info-img-wrap {
    min-width: 56px;
    height: 56px;
    border-radius: 100px;
    background: -o-linear-gradient(307.49deg, #0D1D34 17.34%, #27569A 100%);
    background: linear-gradient(142.51deg, #0D1D34 17.34%, #27569A 100%);
    -webkit-box-shadow: 0px 10px 20px 0px #0000001A;
            box-shadow: 0px 10px 20px 0px #0000001A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 24px;
}

.info .info-table-row-left h6 {
    font-size: 20px;
    font-weight: 600;
    color: var(--blue);
    margin-bottom: 0;
}

.info .info-table-row-right {
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.info .info-table-row-right p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--blue-300);
}

/* casino block */

.casino {
    margin-top: 44px;
}

.casino .casino-inner {
    border-radius: 36px;
    border: 2px solid #F2F3F6;
    -webkit-box-shadow: 0px 10px 20px 0px #00000008;
            box-shadow: 0px 10px 20px 0px #00000008;
    padding: 44px;
}

.casino .casino-inner h2 {
    font-weight: 700;
    font-size: 36px;
    color: var(--dark-blue);
    text-transform: uppercase;
}

.casino .casino-inner h2 span {
    color: var(--light-blue);
    font-size: 32px;
}

.casino .casino-show-all {
    color: var(--green);
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid #7DC72E;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.casino .casino-show-all:hover {
    text-decoration: none;
    color: var(--blue);
    border-color: var(--blue);
}

.casino .casino-top {
    margin-bottom: 36px;
}

.casino .casino-inner img {
    width: 100%;
    margin-bottom: 24px;
}

/* our-bonuses block */

.our-bonuses {
    margin-top: 44px;
}

.our-bonuses-row {
    margin-bottom: 20px;
}

.our-bonuses .our-bonuses-inner {
    border-radius: 36px;
    padding: 44px;
    border: 2px solid #F2F3F6;
    -webkit-box-shadow: 0px 10px 20px 0px #00000008;
            box-shadow: 0px 10px 20px 0px #00000008;
}

.our-bonuses .our-bonuses-inner h2 {
    margin-bottom: 36px;
    font-size: 36px;
    font-weight: 700;
    color: var(--dark-blue);
    text-transform: uppercase;
}

.our-bonuses .our-bonuses-block {
    background: var(--dark-blue);
    background-image: url(../img/our-bonuses-block-bg.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 22px;
    position: relative;
    border-radius: 24px;
}

.our-bonuses .our-bonuses-block-icon {
    position: absolute;
    top: 0;
    left: 36px;
    height: 83px;
}

.our-bonuses  .our-bonuses-block-money {
    width: 50%;
    margin-bottom: 12px;
}

.our-bonuses .our-bonuses-block h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.our-bonuses .our-bonuses-block h3 span {
    color: var(--green);
}

.our-bonuses .our-bonuses-block p {
    color: var(--blue-300);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 22px;
}

.our-bonuses .our-bonuses-block .button-border-hover span {
    height: 54px;
}

.our-bonuses .our-bonuses-big-block {
    border-radius: 24px;
    background: var(--dark-blue);
    background-image: url(../img/our-bonuses-big-block.png);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    
}

.our-bonuses  .our-bonuses-money-bg {
    background-image: url(../img/our-bonuses-big-block-money.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    padding: 36px;
}

.our-bonuses .our-bonuses-big-block h3 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 16px;
}

.our-bonuses .our-bonuses-big-block h3 span {
    color: var(--green);
}

.our-bonuses .our-bonuses-big-block p {
    font-size: 18px;
    font-weight: 500;
    color: var(--blue-300);
    margin-bottom: 24px;
    width: 80%;
}

.our-bonuses .our-bonuses-step-block {
    position: relative;
    padding: 24px;
    background: rgba(54, 76, 107, 0.85);
    border-radius: 16px;
}

.our-bonuses .our-bonuses-step-block h4 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0;
}

.our-bonuses .our-bonuses-step-block h5 {
    color: var(--yellow);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.our-bonuses .our-bonuses-step-block p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--blue-300)
}

.our-bonuses .our-bonuses-step-block .our-bonuses-step {
    position: absolute;
    right: 0;
    top: 0;
    width: 135px;
    height: 100%;
    background-image: url(../img/our-bonuses-big-block-step-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 100%;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 22px;
    padding-left: 44px;
}

/* faq block */

.faq {
    margin-top: 44px;
}

.faq .faq-inner {
    border-radius: 36px;
    border: 2px solid rgba(242, 243, 246, 1);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    padding: 44px;
}

.faq .faq-inner h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 32px;
    color: var(--dark-blue);
    text-transform: uppercase;
}

.faq .faq-question-block {
    position: relative;
    padding: 17px;
    padding-left: 78px;
    background: -webkit-gradient(linear, left top, right top, from(#F5F8FC), color-stop(76%, #FCFDFF));
    background: -o-linear-gradient(left, #F5F8FC 0%, #FCFDFF 76%);
    background: linear-gradient(90deg, #F5F8FC 0%, #FCFDFF 76%);
    border: 1px solid rgba(242, 243, 246, 1);
    border-radius: 30px;
    margin-bottom: 16px;
}

.faq .faq-question-block:last-child {
    margin-bottom: 0;
}

.faq .faq-question-block h6 {
    color: var(--blue);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
}

.faq .faq-question-block p {
    color: var(--blue-300);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
}

.faq .faq-question-block-number {
    position: absolute;
    left: 3px;
    top: 3px;
    height: 56px;
    width: 56px;
    border-radius: 100px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

/* bonuses block */

.bonuses {
    margin-top: 44px;
}

.bonuses .bonuses-inner {
    border-radius: 36px;
    border: 2px solid rgba(242, 243, 246, 1);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    padding: 44px;
}


.bonuses .bonuses-inner h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 32px;
    color: var(--dark-blue);
    text-transform: uppercase;
}

.bonuses .bonuses-inner .bonuses--block {
    background: var(--dark-blue);
    background-image: url(../img/our-bonuses-block-bg.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 22px;
    position: relative;
    border-radius: 24px;
    margin-bottom: 20px;
}
.bonuses .bonuses-inner .bonuses--block .bonuses-block--game-border {
    border: 1px solid #F2F3F6;
    border-radius: 20px;
    padding: 15px;
    position: relative;
}
.bonuses .bonuses-inner .bonuses--block .bonuses-block--game-border .bonuses-block--game-icon {
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%) translateY(-50%);
        -ms-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%);
    height: 44px;
    border-radius: 100%;
    top: 0;
}

.bonuses .bonuses-inner .bonuses--block .bonuses-block--game {
    padding: 20px;
    background: -o-linear-gradient(351.62deg, rgba(54, 76, 107, 0.5) 0.66%, rgba(105, 147, 209, 0.025) 99.97%);
    background: linear-gradient(98.38deg, rgba(54, 76, 107, 0.5) 0.66%, rgba(105, 147, 209, 0.025) 99.97%);
    border-radius: 16px;
}
.bonuses .bonuses-inner .bonuses-block--game h3 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}

.bonuses .bonuses-inner .bonuses-block--game p {
    font-size: 16px;
    font-weight: 500;
    color: #9EA8B5;
    margin-bottom: 10px;
    text-align: center;
}

.bonuses .bonuses-inner .button-border-hover--green span {
    height: 54px;
}

/* bonuses block end */

/* download block */

.download {
    margin-top: 44px;
}

.download .download--background {
    background-image: url(../img/hand-phone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0;
    background-color: var(--dark-blue);
    border-radius: 35px;
    padding: 40px;
}

.download .logo-download img{
    width: 200px;
    max-width: 100%;
}

.download .download--block-button .button-border-hover--green:first-child {
    margin-bottom: 20px;
}

.download .download--block-button .button-border-hover--green span {
    height: 54px;
}

.download .download--block-button .button-border-hover--green span img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

/* download block end*/

.general-information {
    margin-top: 44px;
    margin-bottom: 44px;
}

.general-information .general-information--border{
    -webkit-box-shadow: 0px 10px 20px 0px #00000008;
            box-shadow: 0px 10px 20px 0px #00000008;
    padding: 44px;
}

.general-information h2 {
    font-size: 36px;
    font-weight: 700;
    color: #0D1D34;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.general-information p{
    font-size: 16px;
    font-weight: 300;
    color: #9EA8B5;
    margin-bottom: 15px;
}

/* footer style */

footer {
    background: var(--dark-blue);
    padding: 36px 0;
}

footer .logo {
    margin-right: 26px;
}

footer .footer-info p {
    font-size: 12px;
    font-weight: 400;
    color: var(--light-blue);
    margin-bottom: 0;
    max-width: calc(100% - 110px);
}

footer .only-18 {
    width: 60px;
    height: 60px;
    background: #F02C2C;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 100px;
}

footer .footer-info-top {
    margin-bottom: 26px;
}

footer .navigation-list li a {
    margin-right: 15px;
}

/* second footer */

.second-footer {
    margin-top: 44px;
}

.second-footer .second-footer-column {
    width: 25%;
    margin-right: 6%;
}

.second-footer .second-footer-sublink {
    font-size: 16px;
    font-weight: 400;
    color: var(--light-blue);
    margin-bottom: 4px;
}

.second-footer .second-footer-sublink:hover {
    text-decoration: none;
    color: var(--light-blue);
}

.second-footer .second-footer-top {
    margin-bottom: 26px;
}

.second-footer .second-footer-third-column {
    width: 20%;
}

.app-button.app-button-second-footer {
    height: 52px;
    margin-bottom: 8px;
    margin-right: 0;
}

.app-button.app-button-second-footer span {
    font-size: 14px;
    color: var(--light-blue);
}

.app-button.app-button-second-footer .bottom-text {
    font-size: 16px;
    margin-bottom: 0;
}

.app-button.app-button-second-footer svg {
    width: 24px;
    height: 24px;
}

.app-button.app-button-second-footer img {
    width: 28px;
}

.second-footer .second-footer-right-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

/* footer card block */

.footer-card {
    margin-top: 44px;
}

.footer-card .social {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid var(--blue);
    border-radius: 100px;
    margin-right: 14px;
}

.footer-card .social:last-child {
    margin-right: 0;
}

.footer-card .social img {
    max-width: 18px;
}

.footer-card .brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.footer-card .brands img {
    max-height: 38px;
}

.footer-card .brands img.h-20 {
    max-height: 20px;
}

.footer-card .brands img.h-25 {
    max-height: 20px;
}

.footer-card .brands .img-wrap {
    margin-right: 22px;
}

.footer-card .brands .img-wrap:last-child {
    margin-right: 0;
}

.footer-card .brands-full-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-card .brands-full-row img {
    margin-right: 0;
}

.footer-card .copyright p {
    font-size: 12px;
    font-weight: 400;
    color: var(--light-blue);
    margin-bottom: 0;
}

.footer-card .verification img {
    height: 56px;
}

.footer-card .verification img:last-child {
    margin-left: 16px;
}

.mobile-header {
    display: none;
}

.mobile-header {
    -webkit-box-shadow: 0px 10px 20px 0px #00000008;
            box-shadow: 0px 10px 20px 0px #00000008;
    background: var(--dark-blue);
    padding: 15px 0;
}

.burger-button {
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 36px;
    width: 36px;
    background: var(--blue);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
}

.burger-button span {
    width: 20px;
    height: 4px;
    border-radius: 100px;
    background: #fff;
}

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--dark-blue);
    padding: 15px;
    z-index: 2;
}

.mobile-menu-inner {
    padding-top: 60px;
}

.mobile-menu-inner .promotions-button {
    width: 240px;
    margin-bottom: 22px;
}

.mobile-menu-inner .free-money-button {
    width: 190px;
}

.mobile-menu-inner .border {
    border: 1px solid var(--light-blue);
    margin: 30px 0;
}

.mobile-menu-inner .navigation-list li {
    margin-bottom: 24px;
}